.frameParent21 {
    position: absolute;
    top: 1130px;
    width: 1240px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 16px;
    color: #000;
    left: calc(50% - 750px);
    z-index: 2;
}
.frameParent22 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Satoshi;
    gap: 35px;
    font-size: 20px;
    font-family: 'Integral CF';
}
.weHaveClothes {
    width: 248px;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    font-family: Satoshi;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    display: inline-block;
}
.shopcoGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}
.helpMenu {
    position: relative;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Satoshi;
    color: #000;
    text-align: left;
}
.allRightsReserved {
    width: 269px;
    position: absolute;
    top: 320px;
    font-size: 14px;
    font-family: Satoshi;
    left: calc(50% - 650px);
    color: rgba(0, 0, 0, 0.6);
    text-align: right;
    display: inline-block;
}
.about {
    margin: 0;
    white-space: pre-wrap;
}
.blankLine {
    margin: 0;
}
.aboutFeaturesWorksContainer {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}
.customerSupport {
    margin: 0;
}
.aboutFeaturesWorksContainer {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}
.account {
    margin: 0;
}
.aboutFeaturesWorksContainer {
    width: 149px;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    display: inline-block;
}
.freeEbooks {
    margin: 0;
}
.aboutFeaturesWorksContainer {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}
.lineDiv {
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 1px;
}
.badgeParent {
    position: absolute;
    top: 300px;
    left: calc(50% - -535px);
    width: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 12px;
}
.social {
    width: 148px;
    position: relative;
    height: 28px;
}
.helpMenuParent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}
.aboutFeaturesWorksContainer2{
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}