.image7Icon {
    width: auto;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
    left: calc(50% - 600px);
    object-fit: cover;
    top: 2200px;
}

.image8Icon {
    width: auto;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
    top: 2200px;
    left: calc(50% - 255px);
    object-fit: cover;
}

.image9Icon {
    width: auto;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
    object-fit: cover;
    top: 2200px;
    right: calc(50% - 395px);

}

.image10Icon {
    width: auto;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
    object-fit: cover;
    top: 2200px;
    right: calc(50% - 700px);
}

.image7Icon,
.image8Icon,
.image9Icon,
.image10Icon {
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  
}

.image7Icon:hover,
.image8Icon:hover,
.image9Icon:hover,
.image10Icon:hover {
  transform: translateY(-10px);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3)
}

.span {
    color: rgba(0, 0, 0, 0.6);
}
.frameParent5 {
    position: absolute;
    top: 2550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    left: calc(50% - 600px);
    font-size: 14px;
}
.frameParent6 {
    position: absolute;
    top: 2550px;
    left: 415px;
    display: flex;
    flex-direction: row;
    left: calc(50% - 256px);
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    font-size: 14px;
}
.frameParent7 {
    position: absolute;
    top: 2550px;
    right: calc(50% - 225px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    font-size: 14px;
}
.frameParent8 {
    position: absolute;
    top: 2550px;
    right: calc(50% - 575px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    font-size: 14px;
}


